<mat-card>
    <form [formGroup]="form" (ngSubmit)="auth.register(form.value)">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <span>&nbsp;&nbsp;</span>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <span>&nbsp;&nbsp;</span>
        <button mat-flat-button color="primary" [disabled]="!form.valid">Register</button>
    </form>
</mat-card>