/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-card-content {
  font-size: 18px;
}

.fullWidth {
  width: 75%;
}

.clickLink {
  cursor: pointer;
}
.spacer {
  width: 15px;
}

.mat-radio-button {
  font-family: 'Consolas', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
.mat-expansion-panel-header-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.7;
}
.mat-expansion-panel-header {
  padding: 20px 24px !important;
}
